@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,600,600italic,700,700italic);

html, body, #main {
    margin: 0;
    height: 100%;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
#main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.collapseBox {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: none;
    border-radius: 2px;
}
.collapseBox > .panel-heading {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    font-style: italic;
    font-weight: bolder;
}
::-webkit-scrollbar {
    display: none;
}
.element {
    -ms-overflow-style: none;
}
body, .smooth-container {
    scroll-behavior: smooth
}
.navbar-text {
    margin-top: 7px;
    margin-bottom: 7px;
}
iframe {
    max-width: 100% !important;
}
.dropdown-menu {
    border-color: #E5E6E9;
}
.material-icons {
    font-size: 18px !important;
    vertical-align: middle;
}

a:focus {
    outline: none;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.navbar-brand {
    padding: 10px 20px 10px 20px;
}

.btn, .form-control, .modal-content {
    border-radius: 2px !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: transparent;
    border-radius: 0px;
    font-weight: bolder;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
    background-color: transparent;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.3);
}

.nav-pills>li>a {
    margin-right: 3px;
}
