@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,600,600italic,700,700italic);

html, body, #main {
    margin: 0;
    height: 100%;
    background-color: #ECEFF1;
    font-family: 'Roboto', sans-serif;
}
#main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.collapseBox {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-top: 1px rgba(255, 255, 255, 0.3) solid;
}
.collapseBox > .panel-heading {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bolder;
}
::-webkit-scrollbar {
    display: none;
}
.element {
    -ms-overflow-style: none;
}
body, .smooth-container {
    scroll-behavior: smooth
}
.navbar-text {
    margin-top: 7px;
    margin-bottom: 7px;
}
iframe {
    max-width: 100% !important;
}
.btn-primary {
    background-color: #7E57C2;
    border-color: #4527A0;
}
.btn-primary:hover {
    background-color: #9e7dd8;
    border-color: #7E57C2;
}
.btn-primary:focus:active {
    background-color: #9e7dd8;
    border-color: #7E57C2;
}

.dropdown-menu {
    border-color: #E5E6E9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #F5F5F5;
    border-bottom: 3px solid #4689F1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #F5F5F5;
    border-bottom: 3px solid #4689F1;
}

.navbar-default .navbar-nav>li>a {
    color: #675555;
    border-left: 1px solid #F7F7F7;
}

.material-icons {
    font-size: 18px !important;
}
